.container {
    width: 100%;
    height: 100%;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: rgb(250, 178, 108);
    background: linear-gradient(180deg, rgba(250, 178, 108, 1) 0%, rgba(255, 213, 142, 1) 18%, rgba(255, 255, 255, 1) 100%);
}

.image {
    margin-left: 20px;
}

.line {
    background: rgb(238, 134, 0);
    background: linear-gradient(180deg, rgba(238, 134, 0, 1) 4%, rgba(255, 174, 36, 1) 42%, rgba(238, 134, 0, 1) 96%);
    width: 70%;
    border-radius: 50px 0 0 0;
    height: 30px;
    display: flex;
    align-self: flex-end;
}

.footer {
    text-align: center;
    display: flex;
    background: rgb(238, 134, 0);
    background: linear-gradient(180deg, rgba(238, 134, 0, 1) 4%, rgba(255, 174, 36, 1) 42%, rgba(238, 134, 0, 1) 96%);
    height: 5vh;
    justify-content: center;
}

.loved {
    color: white;
    display: flex;
    margin: auto;
    width: fit-content;
}

.side-menu {
    display: flex;
    position: absolute;
    right: 0;
    border-left: 2px solid rgb(238, 134, 0);
    ;
    width: 30%;
    height: 100vh;
    /* height: 85vh; */
    flex-direction: column;
}

.lista {
    display: flex;
    width: 100%;
    height: 90%;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
}

.arrow {
    width: 95%;
    margin: auto;
    border-radius: 5px;
    border: 2px solid
}

.add {
    width: 100%;
    height: 50%;
}

.title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.content {
    overflow: scroll;
    width: 100%;
}

.card {
    -webkit-box-shadow: 2px 7px 76px -7px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 2px 7px 76px -7px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 7px 76px -7px rgba(0, 0, 0, 0.32);
    height: 150px;
    width: 480px;
    margin: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.square {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.profile {
    width: 60px;
    height: 60px;
    margin: 15px;
    border: 0.1px solid;
}

.info {
    text-align: left;
    margin-left: 10px;
}

ul, li {
    list-style: none;
    margin: 0;
}

.button {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
}

.perfil {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
    align-items: center;
}

.profimage>img {
    border-radius: 50%;
}

.name{
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
}

.exit{
    position: absolute;
    right: 0;
    cursor: pointer;
}

.marker{
    padding: 10px;
}

.map {
    width: 70%;
    height: 100vh;
    /* height: 85vh; */
    display: flex;
    justify-self: end;
}

h4 {
    text-align: center;
    background-color: rgba(138, 138, 138, 0.7);
}

#separador{
    padding: 30px;
}

table{
    text-align: left;
    width: 250px;
    height: 100px;
}

table td{
    width: 100;
}

#botao{
    height: 100%;
    width: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    border: 0;
    transition: 0.5s;
}


#search{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    padding: 0;
}


#botao:hover{
    background-color: #ee8600;
}


#text{
    width: 80%;
    height: 45px;
    margin: 0;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: small;
    border: 0;

}

#mouse-position{
    display: none;
}


#satelite{
    margin-top: 20px;
    margin-bottom: 20px;
}

#option-satelite{
    margin-top: 10px;
}

#titulo-satelite{
    display: block;
}

#titulo-satelite-banda{
    display: block;
    margin-bottom: 10px;
}
#date{
    margin: 0;
}

#seletor{
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 70%;
    background-color: rgb(255, 255, 255, 0.9);
    margin: 50px 0 0 55px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 7px 50px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 2px 7px 50px -2px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 7px 50px -2px rgba(0, 0, 0, 0.32);
}

table#seletor-table{
    border: 1px;
    width: 50px;
    height: 60px;
}

#form{
    z-index: 2;
    position: absolute;
    background-color: rgb(255, 255, 255,0.7);
    padding: 10px;
    margin: 20px 0 0 55px;
}

#form> * {
    padding: 5px;
}


#pesquisa {
    background-color: #888;
    color: #fff;
    font-weight:  bold;
    border: 1px solid #655;
}

#menu{
    position: absolute;
    top: 50px;
    right: 10px;
    list-style-type: none;
    border-radius: 4px;
    border: 3px solid #333;
    padding: 0;
    background-color: #eee;
}

#menu li{
    padding: 5px;
}

#menu li:hover{
    cursor: pointer;
    text-decoration: underline;
}
