<div class="container">
    <div class="modal">
        <form class="example-form">
            <div class="photo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBLSSQP7hKqNeyqazUAGQDc9WBhl6pv1KH7A&usqp=CAU"  height="100%" width="100%">
            </div>
            <div class="user">
                <span class="ui-float-label">
                    <input id="float-input-1" type="text" size="30" [(ngModel)]="usr" name="username" required pInputText>
                    <label for="float-input">Username</label>
                </span>
            </div>
            <div class="psw">
                <span class="ui-float-label">
                    <input id="float-input-2" type="password" size="30" [(ngModel)]="pw" name="password" required pInputText>
                    <label for="float-input">Password</label>
                </span>
            </div>
            <button pButton type="button" label="Login" mat-raised-button (click)="login()" color="primary"></button><br/>
        </form>
    </div>
</div>