<nav class="navbar navbar-expand-lg navbar-dark teste">
   <button class="navbar-toggler sandwich" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon string"></span>
  </button>

 


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" (click)="openBackDropCustomClass(content)">
        <a class="nav-link item" href="#">Coordenadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link item" href="#">Periodo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link item" href="#">Download</a>
      </li>
    </ul>
    <img src="./assets/Logo.png">
  </div>
</nav>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Procurar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-search">
      <div class="input">
        <input id="pontoA" type="text" placeholder="Ponto A">
      </div>
      <div class="input">
        <input id="pontoB" type="text" placeholder="Ponto B">
      </div>
      <button class="button" type="submit" (click)="modal.close('Close click')">Purchase</button>
    </form>
  </div>
</ng-template>

<div id = "map" class = "map"></div>

<app-footer></app-footer>