.teste {
  background-color: #228B22 !important;
}

.string {
  color: white !important;
}

.item{
  color:#fff!important;
}

.item:hover{
  background-color: #fff !important;
  transition: 0.5s!important;
  color:#5d4037!important;
}

.sandwich{
  z-index: 999;
}

.form-inline {
  margin: 0 auto;
  display: table;
}

.input{
  margin: 15px;
}



.button{
  margin: auto;
  width: 30%;
  margin-left: 35%;
}