<div class="container">
    <div class="header">
        <div class="logo">
            <img src="../../assets/images/logo.png" class="image" />
        </div>
        <div class="line"></div>
    </div>
    <div class="component">
        <div class="side-menu">
            <div class="perfil">
                <div class="profimage">
                    <img src="https://www.gannett-cdn.com/-mm-/d5e2b1d154f830ff7d8b16f13178ec1d3854aa4f/c=0-265-2589-1728/local/-/media/2017/08/30/USATODAY/USATODAY/636396561829785209-XXX-KERMIT--10-OF-10-47661325.JPG"  height="50px" width="50px">
                </div>
                <div class="name">
                    Admin
                </div>
                <div class="exit" (click)="logout()">
                    sair
                </div>
            </div>
            <div class="lista">
                <span class="title">Lista de imagens</span>
                <div class="content">

                    <li *ngFor="let feature of features">
                        <div class="card">

                            <div class="square">
                                <a href = "{{ feature.assets[0].href }}">
                                    <div class="photo">
                                        <div class="profile">
                                            <img src="../../assets/images/example.jpg" width="50px" height="50px" />
                                        </div>
                                    </div>
                                </a>
                                <div class="data">
                                    <div class="info"><b>{{ feature.collection }}</b></div>
                                    <div class="info"><b>Date: </b>{{ feature.properties.datetime.start }}</div>
                                    <div class="info"><b>Proj: </b>{{ feature.properties.projection }}</div>
                                    <div class="info"><b>Band: </b>{{ feature.properties.band }}</div>
                                    <div class="info">{{ feature.type }}</div>
                                </div>
                            </div>
                        </div>
                    </li>

                </div>
            </div>
        </div>
        <div class="map">
            <app-map class="app-map"></app-map>
        </div>
    </div>
    <div class="footer">
        <div class="loved">
            Made by Fatec with &#x2665;
        </div>
    </div>
</div>